/ {
    aliases {
        modemuart = &uart0;
        modem = &modem;
        gpio0 = &gpio0;
    };
};

/ {
    test {
        #address-cells = <1>;
        #size-cells = <1>;

        test_gpio: gpio@deadbeef {
            compatible = "vnd,gpio";
            gpio-controller;
            reg = <0xdeadbeef 0x1000>;
            #gpio-cells = <0x2>;
            status = "okay";
        };

    };
};
&uart2 {
    // compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    modem: modem {
        compatible = "quectel,eg25-g";
        // mdm-power-gpios = 12;
        mdm-reset-gpios = <&test_gpio 0 0>;
        status = "okay";
    };
};