// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "cytracker-pinctrl.dtsi"
/ {
	aliases {
		modem = &modem;
		modem-uart = &uart0;
	};
};

/ {
	model = "CyTracker";
	compatible = "cypodsolutions,cytracker";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		// zephyr,code-partition = &slot0_partition;
		nordic,pm-ext-flash = &SST26VF016B;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&adc {
	status = "okay";
};


&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
	SST26VF016B: SST26VF016B@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <8000000>;
		requires-ulbpr;
		// label = "SST26VF016B";
		jedec-id = [ BF 26 41  ];
		//sfdp-bfp = [
		//    e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
		//    ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
		//    10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
		//    30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		//];
		size = <16777216>;
		//size = <67108864>;
		status = "okay";
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};


&gpio0 {
	status = "okay";
};


arduino_serial: &uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
	gsm: gsm-modem {
		compatible = "zephyr,gsm-ppp";
		// label = "gsm_ppp";
	};


	modem: modem {
		compatible = "quectel,bg95";
		mdm-power-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
	// modem: modem {
		//     compatible = "quectel,bg95";
		//     mdm-power-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		//     status = "okay";
	// };
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x72000>;
		};
		slot1_partition: partition@7e000 {
			label = "image-1";
			reg = <0x7e000 0x72000>;
		};
		scratch_partition: partition@f0000 {
			label = "image-scratch";
			reg = <0xf0000 0xa000>;
		};
		storage_partition: partition@fa000 {
			label = "storage";
			reg = <0xfa000 0x6000>;
		};
	};
};

